---
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import Skills from "@/components/Skills.astro";
import ProjectsSection from "@/components/react/Projects/ProjectSection";
import HeroContent from "@/components/react/HeroContent";
import Footer from "@/components/Footer.astro";
import type { ProjectDataType, SkillDataType } from "@/types";
import About from "@/components/About.astro";
const projects = await Astro.glob<ProjectDataType>("../pages/projects/*.md");


---

<Layout title="Welcome to Astro.">
  <main class="h-full w-full">
    <Hero />
    <div class="flex flex-col gap-30 max-w-7xl mx-auto">
      <div class="min-h-full">
        <HeroContent client:visible />
      </div>
      <Skills class="min-h-full" />
      <About class="min-h-full" />
      <section id="projects" class="min-h-full">
        <ProjectsSection projects={projects} client:load />
      </section>      
    </div>
    <Footer/>
  </main>
</Layout>
