---
import AboutSection from "./react/AboutSection";
import {Content as AboutMd} from '../pages/about/about.md';
import { Image } from 'astro:assets';

---


<section class="text-white" id="about-me">
  <div
    class="md:grid md:grid-cols-2 gap-8 items-center py-8 px-4 xl:gap-16 sm:py-16 xl:px-16"
  >
    <Image src="/images/about-image.png" width={500} height={500} alt="Foto"/>
    <div class="mt-4 md:mt-0 text-left flex flex-col h-full">
      <h2 class="text-4xl font-bold text-white mb-4">About Me</h2>
      <div class="text-base lg:text-lg">
        <AboutMd/>       
        <AboutSection client:visible />
      </div>
    </div>
    
  </div>
</section>
