
<div class="relative flex flex-col h-full w-full mx-auto" >
    <video autoplay muted loop class="rotate-180 absolute top-[-340px] h-full w-full left-0 z-[1] object-cover">
        <source src="/pexels.webm" type="video/webm"/>
    </video>    
</div>